<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <properties>
     
        <!-- 应用 ID -->
        <property name="APP_ID">ccp.shop_master</property>
        <!-- 应用日志根目录 -->
        <property name="LOG_HOME">/data/log/${APP_ID}</property>
        <!-- 日志内容格式 -->
        <property name="LOG_PATTERN">%-5level * %d{yyyy-MM-dd HH:mm:ss.SSS} > [%t] %logger : %msg%n</property>
         
        <!-- 默认日志配置 -->
        <property name="ROLLING_FILE">${LOG_HOME}/DEFAULT/ROLLING.log</property>
        <property name="ARCHIVE_FILE">${LOG_HOME}/DEFAULT/%d{yyyy-MM-dd}.log</property>
         
        <!-- 自定义日志配置 -->
        <property name="JOB_ROLLING_FILE">${LOG_HOME}/job/ROLLING.log</property>
        <property name="JOB_ARCHIVE_FILE">${LOG_HOME}/job/%d{yyyy-MM-dd}.log</property>
        <property name="JOB_ROLLING_INFO_FILE">${LOG_HOME}/job/ROLLING.INFO.log</property>
        <property name="JOB_ROLLING_WARN_FILE">${LOG_HOME}/job/ROLLING.WARN.log</property>
        <property name="JOB_ARCHIVE_INFO_FILE">${LOG_HOME}/job/%d{yyyy-MM-dd}.INFO.log</property>
        <property name="JOB_ARCHIVE_WARN_FILE">${LOG_HOME}/job/%d{yyyy-MM-dd}.WARN.log</property>
         
    </properties>
     
    <appenders>
        <!-- Console 输出 -->
        <Console name="DefaultConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
         
        <!-- 默认生产文件日志输出 -->
        <RollingFile name="PRODUCT_LOG" fileName="${ROLLING_FILE}" filePattern="${ARCHIVE_FILE}" append="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
        </RollingFile>
         
        <!-- 自定义日志输出 -->
        <RollingFile name="PRODUCT_JOB_WARN_LOG" fileName="${JOB_ROLLING_WARN_FILE}" filePattern="${JOB_ARCHIVE_WARN_FILE}" append="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <!-- 只输出 WARN -->
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </RollingFile>
        <RollingFile name="PRODUCT_JOB_INFO_LOG" fileName="${JOB_ROLLING_INFO_FILE}" filePattern="${JOB_ARCHIVE_INFO_FILE}" append="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <!-- 只输出 INFO -->
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" />
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </RollingFile>
        <RollingFile name="PRODUCT_JOB_LOG" fileName="${JOB_ROLLING_FILE}" filePattern="${JOB_ARCHIVE_FILE}" append="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <!-- 只输出大于 WARN 的 -->
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="NEUTRAL" onMismatch="DENY" />
            </Filters>
        </RollingFile>
         
    </appenders>
     
    <loggers>
        <!-- 默认日志 -->
        <root level="INFO">
            <!-- 生产环境必须禁用 Console 输出 -->
            <appender-ref ref="DefaultConsole"  />
             
            <!-- 默认生产的文件输出，这个必须在生产环境打开 -->
            <appender-ref ref="PRODUCT_LOG" />
        </root>
         
        <!-- 自定义的日志 -->
        <logger name="com.joindata.test.apptest.temp.LoggerTestMock" additivity="false">
            <appender-ref ref="PRODUCT_JOB_LOG" />
            <appender-ref ref="PRODUCT_JOB_INFO_LOG" />
            <appender-ref ref="PRODUCT_JOB_WARN_LOG" />
        </logger>
    </loggers>
     
</configuration>